services:
  db:
    image: postgres:18
    restart: unless-stopped
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase
      PGDATA: /var/lib/postgresql/data
    ports:
      - '5432:5432'
    volumes:
      - ./docker/db_data:/var/lib/postgresql/data

